# Tedbirge(R) WebOS — UEFI acilis menusu
set default=0
set timeout=10
set gfxpayload=keep

menuentry "Tedbirge(R) WebOS (Canli - Live Kiosk)" {
    linux /boot/vmlinuz-lts modules=loop,squashfs,sd-mod,usb-storage quiet unionfs_size=512M
    initrd /boot/initramfs-lts
}

menuentry "Tedbirge(R) WebOS (Diske Kur - Otomatik Kurulum)" {
    linux /boot/vmlinuz-lts modules=loop,squashfs,sd-mod,usb-storage tedbirge.install=1 unionfs_size=512M
    initrd /boot/initramfs-lts
}

menuentry "Kurtarma konsolu (kabuk)" {
    linux /boot/vmlinuz-lts modules=loop,squashfs,sd-mod,usb-storage single
    initrd /boot/initramfs-lts
}
