# Tedbirge(R) WebOS — BIOS acilis menusu
DEFAULT canli
PROMPT 1
TIMEOUT 100
UI menu.c32
MENU TITLE Tedbirge(R) WebOS

LABEL canli
  MENU LABEL Tedbirge(R) WebOS (Canli Kiosk)
  KERNEL /boot/vmlinuz-lts
  INITRD /boot/initramfs-lts
  APPEND modules=loop,squashfs,sd-mod,usb-storage quiet unionfs_size=512M

LABEL kur
  MENU LABEL Tedbirge(R) WebOS (SSD/HDD'ye Kur)
  KERNEL /boot/vmlinuz-lts
  INITRD /boot/initramfs-lts
  APPEND modules=loop,squashfs,sd-mod,usb-storage tedbirge.install=1 unionfs_size=512M

LABEL kurtarma
  MENU LABEL Kurtarma konsolu (kabuk)
  KERNEL /boot/vmlinuz-lts
  INITRD /boot/initramfs-lts
  APPEND modules=loop,squashfs,sd-mod,usb-storage single
