source /boot/grub/config.cfg

# Menude sonsuz bekleme olmasin: 5 saniye sonra canli sistem kendiliginden acilir.
set default=0
set timeout=5
set timeout_style=menu

serial --unit=0 --speed=115200
terminal_input --append serial
terminal_output --append serial

menuentry "Tedbirge(R) WebOS - Canli Baslat" --hotkey=l {
	linux @KERNEL_LIVE@ @APPEND_LIVE@
	initrd @INITRD_LIVE@
}

menuentry "Tedbirge(R) WebOS - SSD/HDD'ye Kur" --hotkey=i {
	linux @KERNEL_LIVE@ @APPEND_LIVE@ tedbirge.install=1
	initrd @INITRD_LIVE@
}

submenu "Gelismis secenekler" {
	menuentry "Tedbirge(R) WebOS - Guvenli goruntu (nomodeset)" {
		linux @KERNEL_LIVE@ @APPEND_LIVE@ nomodeset video=vesafb vga=791
		initrd @INITRD_LIVE@
	}

	menuentry "Tedbirge(R) WebOS - Uyumluluk modu (USB/PCI korumali)" {
		linux @KERNEL_LIVE@ @APPEND_LIVE@ nomodeset video=vesafb vga=791 pci=nomsi usbcore.autosuspend=-1 noapic
		initrd @INITRD_LIVE@
	}

	if [ "${grub_platform}" = "efi" ]; then
		menuentry "UEFI ayarlari" {
			fwsetup
		}
	fi
}