source /boot/grub/config.cfg

menuentry "Tedbirge WebOS - Canli Baslat" --hotkey=l {
	linux @KERNEL_LIVE@ @APPEND_LIVE@
	initrd @INITRD_LIVE@
}

menuentry "Tedbirge WebOS - SSD/HDD'ye Kur" --hotkey=i {
	linux @KERNEL_LIVE@ @APPEND_LIVE@ tedbirge.install=1
	initrd @INITRD_LIVE@
}

submenu "Gelismis secenekler" {
	menuentry "Tedbirge WebOS - Guvenli grafik" {
		linux @KERNEL_LIVE@ @APPEND_LIVE@ nomodeset
		initrd @INITRD_LIVE@
	}

	if [ "${grub_platform}" = "efi" ]; then
		menuentry "UEFI ayarlari" {
			fwsetup
		}
	fi
}